![](Mu1.png)
**PAWAN KUMAR**

# Course_4

# Using Databases with Python

**by University of Michigan**

### WEEK_1 Object Oriented Python (Chapter 14)
Assignment : only quiz

### WEEK_2 Basic Structured Query Language (Chapter 15)
**Assignment_15.1**

**Create a SQLITE database or use an existing database and create a table in the database called "Ages":**

In [ ]:
CREATE TABLE Ages ( 
  name VARCHAR(128), 
  age INTEGER
)

**Then make sure the table is empty by deleting any rows that you previously inserted, and insert these rows and only these rows with the following commands:**

In [ ]:
DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Nana', 18);
INSERT INTO Ages (name, age) VALUES ('Aseel', 31);
INSERT INTO Ages (name, age) VALUES ('Niome', 31);
INSERT INTO Ages (name, age) VALUES ('Niall', 19);

**Once the inserts are done, run the following SQL command:**

In [ ]:
SELECT hex(name || age) AS X FROM Ages ORDER BY X

**Find the first row in the resulting record set and enter the long string that looks like 53656C696E613333.**

## Solution
**I follow this step and find it**

In [ ]:
417365656C3331
4E616E613138
4E69616C6C3139
4E696F6D653331

**After that put the first value to get credit for this assignment**

#### Assignment_15.2

**Counting Organizations**
This application will read the mailbox data (mbox.txt) and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

CREATE TABLE Counts (org TEXT, count INTEGER)
When you have run the program on mbox.txt upload the resulting database file above for grading.
If you run the program multiple times in testing or with dfferent files, make sure to empty out the data before each run.

You can use this code as a starting point for your application: http://www.py4e.com/code3/emaildb.py.

The data file for this application is the same as in previous assignments: http://www.py4e.com/code3/mbox.txt.

Because the sample code is using an UPDATE statement and committing the results to the database as each record is read in the loop, it might take as long as a few minutes to process all the data. The commit insists on completely writing all the data to disk every time it is called.

The program can be speeded up greatly by moving the commit operation outside of the loop. In any database program, there is a balance between the number of operations you execute between commits and the importance of not losing the results of operations that have not yet been committed.

In [8]:
# import sqlite3

conn = sqlite3.connect('pawan_15.2.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    email = line.split("@")
    email = email[1]
    email = email.split("\n")
    email = email[0]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (email,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox.txt
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

**Upload this pawan_15.2.sqlite file to get credit for this assignment**

### WEEK_3 Data Models and Relational SQL (Chapter 15)
**Assignment_15.3**

**Musical Track Database**
This application will read an iTunes export file in XML and produce a properly normalized database with this structure:

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
If you run the program multiple times in testing or with different files, make sure to empty out the data before each run.

You can use this code as a starting point for your application: http://www.py4e.com/code3/tracks.zip. The ZIP file contains the Library.xml file to be used for this assignment. You can export your own tracks from iTunes and create a database, but for the database that you turn in for this assignment, only use the Library.xml data that is provided.

To grade this assignment, the program will run a query like this on your uploaded database and look for the data it expects to see:

SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name LIMIT 3
The expected result of the modified query on your database is: (shown here as a simple HTML table with titles)
Select Language​▼
Track	Artist	Album	Genre
Chase the Ace	AC/DC	Who Made Who	Rock
D.T.	AC/DC	Who Made Who	Rock
For Those About To Rock (We Salute You)	AC/DC	Who Made Who	Rock

In [2]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('pawan_15.3.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname = "Library.xml"
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    genre=lookup(entry,'Genre')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or album is None or genre is None : 
        continue

#     print(name, artist, album,genre, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id,genre_id, len, rating, count) 
        VALUES ( ?, ?,?, ?, ?, ? )''', 
        ( name, album_id,genre_id, length, rating, count ) )

    conn.commit()
sqlstr='SELECT Track.title, Artist.name, Album.title,Genre.name FROM Track JOIN Genre JOIN Album JOIN Artist ON Track.genre_id=Genre.ID and Track.album_id=Album.id AND Album.artist_id=Artist.id ORDER BY Artist.name LIMIT 3'

for row in cur.execute(sqlstr):
    print(str(row[0]),str(row[1]),str(row[2]),str(row[3]))
cur.close()

Dict count: 404
For Those About To Rock (We Salute You) AC/DC Who Made Who Rock
Hells Bells AC/DC Who Made Who Rock
Shake Your Foundations AC/DC Who Made Who Rock

**Upload this pawan_15.3.sqlite file to get credit for this assignment**

### WEEK_4 Many-to-Many Relationships in SQL
**Assignment_15.4**

**Instructions**
This application will read roster data in JSON format, parse the file, and then produce an SQLite database that contains a User, Course, and Member table and populate the tables from the data file.

You can base your solution on this code: http://www.py4e.com/code3/roster/roster.py - this code is incomplete as you need to modify the program to store the role column in the Member table to complete the assignment.

Each student gets their own file for the assignment. Download this file and save it as roster_data.json. Move the downloaded file into the same folder as your roster.py program.

Once you have made the necessary changes to the program and it has been run successfully reading the above JSON data, run the following SQL command:

SELECT User.name,Course.title, Member.role FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY User.name DESC, Course.title DESC, Member.role DESC LIMIT 2;
The output should look as follows:
Zian|si364|0
Zian|si310|0
Once that query gives the correct data, run this query:
SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1;
You should get one row with a string that looks like **XYZZY53656C696E613333**.

In [27]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = "roster_data (3).json"
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role=entry[2];

#     print((name, title,role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id,role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id,role ) )

    conn.commit  
test="""SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1;"""
cur.execute(test)
result=cur.fetchone()
print(result)
cur.close()
conn.close()

('XYZZY416164616D736933313030',)

### WEEK_5 Databases and Visualization
**Assignment_16**

**1_assignment Run this given geoload.py code and submit it's output screenshot**

In [12]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

#--- Initialising
api_key = 'AIzaSyD9z8vvTzJzjSbTXyR082e7BzUWQsimj-w' #False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    serviceurl = "http://py4e-data.dr-chuck.net/geojson?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?" #place/textsearch/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

#--- Opening connection to the SQLite database
conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

#--- Initialising database
cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

#--- Ignoring SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

#--- Opening connection to the data file
fh = open("where.data")
count = 0
#--- Looping through the data file by 200 lines at a time
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    #--- Getting the geodata of the address from the database
    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    #--- ... and printing message if geodata is already in the database
    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    #--- Constructing the encoded URL using the address and the API key
    parms = dict()
    parms["address"] = address #parms["query"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    #--- Printing the URL for the user's convenience
    print('Retrieving', url)
    
    #--- Submitting the service request by opening the URL
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    #--- Printing the first 20 characters of the result
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    #--- Loading the received result in as JSON object or printing an error message
    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    #--- Printing an error message if something is wrong with the status
    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    #--- Adding the received result into the SQLite database
    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    
    #--- Adding a delay at every 10 request
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(1)

#--- Printing a message at the end to continue with dumping the data using 'geodump.py'
print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  Budapesti Corvinus Egyetem

Found in database  California Polytechnic State University of San Luis Obispo

Retrieving https://maps.googleapis.com/maps/api/geocode/json?address=California+State+University+San+Bernardino&key=AIzaSyD9z8vvTzJzjSbTXyR082e7BzUWQsimj-w
Retrieved 256 characters {    "error_message"
==== Failure To Retrieve ====
{
   "error_message" : "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started",
   "results" : [],
   "status" : "REQUEST_DENIED"
}

Run geodump.py to read the data from the database so you can vizualize it on a map.

**2_assignment Run this given geodump.py code and submit it's output screenshot**

In [13]:
import sqlite3
import json
import codecs

#--- Opening connection to the SQLite database
conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

#--- Reading everything from the database into the cursor
cur.execute('SELECT * FROM Locations')

#--- Opening javascript file for writing data for visualisation
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0

#--- Looping through all the data read from the database
for row in cur :
    #--- Transforming and loading the data into a JSON object
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    #--- Checking if the status is all right
    if not('status' in js and js['status'] == 'OK') : continue

    #--- Getting the latitude, longitude and the formatted address
    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    
    #--- Printing the latitude, longitude and the formatted address
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

#--- Finishing writing into the javascript file and closing the file
fhand.write("\n];\n")
cur.close()
fhand.close()

#--- Printing the number of records written into the javascript file and a message
#--- to continue with visualisation of the data in 'where.html'
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
Cairo، محافظة القاهرة‬ 11835, Egypt 30.018923 31.499674
1475 N Scottsdale Rd, Scottsdale, AZ 85257, USA 33.4641541 -111.9231478
Monumental Plaza, Building C, 1st Floor, Leof. Kifisias 44, Marousi 151 25, Greece 38.0399391 23.8030901
VidyaVihar Campus, Pilani, Rajasthan 333031, India 28.3639976 75.58696809999999
Ilishan Remo Ogun State Nigeria, ILISHAN REMO, Nigeria 6.8919631 3.7186605
Ajagara, Banaras Hindu University Campus, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Mysore Road, Jnana Bharathi, Bengaluru, Karnataka 560056, India 12.9503878 77.5022224
1301 S University Parks Dr, Waco, TX 76706, USA 31.549841 -97.1143146
19 Xinjiekou Outer St, BeiTaiPingZhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8930389 27.5455567
Studentski trg 1, Beograd, Serbia 44.8184339 20.4575676
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8930389 27.5455567
שד בן-גוריון 1, באר שבע, Israel 31.262218 34.801461
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
Budapest, Fővám tér 8., 1093 Hungary 47.486135 19.057964
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
20 records written to where.js
Open where.html to view the data in a browser

**3_assignment Run this given where.html code and submit it's output screenshot**

# END

**Check my Accomplishment** link:- https://www.coursera.org/account/accomplishments/verify/3KWKS94C6NPT

**This course will introduce students to the basics of the Structured Query Language (SQL) as well as basic database design for storing data as part of a multi-step data gathering, analysis, and processing effort.  The course will use SQLite3 as its database.  We will also build web crawlers and multi-step data gathering and visualization processes.  We will use the D3.js library to do basic data visualization.  This course will cover Chapters 14-15 of the book “Python for Everybody”. To succeed in this course, you should be familiar with the material covered in Chapters 1-13 of the textbook and the first three courses in this specialization**